div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  max-width: 95%;
  margin: auto;
}

.mainsection {
  max-width: 60%;
  margin: auto;
}

.myGrid {
  width: 500px;
  height: 250px;
}